@model IEnumerable<demo.Models.Visit>
@using Kendo.Mvc.UI
@{
    ViewBag.Title = "Index";

    //string fromMethod = "POST";
    //if (Model.Any())
    //{
    //    fromMethod = "PUT";
    //}

}

@section Styles
{
    <style type="text/css">
        .grid-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .btn-create {
            height: 50px;
        }
    </style>
}

<div id="resultDiv">
 </div>



<div class="grid-header">


 
    <h2>Index</h2>

    <button type="button" class="btn btn-primary btn-create" id="btn-create"  >
        Create Visit
    </button>

</div>



@(Html.Kendo().Grid(Model)
    .Name("grid")

    .Columns(columns =>
    {
        columns.Bound(p => p.VisitId);
        columns.Bound(p => p.Title);
        columns.Bound(p => p.From);
        columns.Bound(p => p.To);
        columns.Bound(p => p.NumberOfDays);
        columns.Bound(p => p.VisitType);
        columns.Bound(p => p.Notes);
        columns.Bound(p => p.VisitId).Title("Actions").ClientTemplate("<Button type='button' data-visitid='#= VisitId #' class='btn-danger ' id='deleteVisit'>Delete</Button>");
    })
    .Pageable(pageable => pageable
        .Input(true)
        .Numeric(true)
        .PageSizes(new[] { 10, 20, 50, 100 }) // Set your desired page sizes
        .Refresh(true)
    )
    .Sortable()
    .Selectable()
    .Filterable()
    .Events(events => events
            .Change("onChange")


        )
    .DataSource(dataSource => dataSource
        .Ajax()
         .PageSize(10)
        .Read(read => read.Action("GetAllVisits", "Visits"))
    )
)
<!-- Modal -->

 @*@Html.Partial("_EditModal")*@
<div id="exampleModalDiv">

</div>

@section scripts {
    <script>

        $(document).ready(function () {


            $('#btn-create').on('click', function () {
                $.ajax({
                    url: '/visits/AddEdit', // Assuming "Item" is your controller name
                    type: 'GET',
                    //  data: { id: selectedItem.VisitId },
                    success: function (data) {
                        //console.log(data)
                        $('#exampleModalDiv').html(data);
                        $('#exampleModal').modal('show');
                    },
                    error: function () {
                        alert('Error loading Create Modal.');
                    }
                });
            })
        });



        function onChange(arg) {

                   var entityGrid = $("#grid").data("kendoGrid");
            var selectedItem = entityGrid.dataItem(entityGrid.select());
            //console.log(selectedItem)

            //$('#visitIdInput').val(selectedItem.VisitId);
             $.ajax({
                 url: '/visits/AddEdit/' + selectedItem.VisitId, // Assuming "Item" is your controller name
                   type: 'GET',
                   //  data: { id: selectedItem.VisitId },
                 success: function (data) {
                     //console.log(data)
                        $('#exampleModalDiv').html(data);
                        $('#exampleModal').modal('show');
                   },
                   error: function () {
                       alert('Error loading edit modal.');
                   }
               });

        }


    </script>
    <script>

        function handleSuccess(result) {

            var grid = $("#grid").data("kendoGrid");
            // Reload the grid data
            grid.dataSource.read();
            console.log('handleSuccess')
            $('#btn-submit').html("Save changes");

        }

        //$(document).ready(function () {


        //    $('#btn-submit').on('click', function () {
        //        //$(this).html("Saving...");
        //        //console.log('click')
        //        $('#exampleModal').modal('toggle');
        //    })
        //});



        $(document).ready(function () {
            $('#grid').on('click', '#deleteVisit', function () {
                var visitId = $(this).data("visitid");
                console.log("Delete Visit ID: " + visitId);

            });
        });


       
    </script>

}
